body{
    background-color: #23252C;
}

.profile-content{
    margin-left: 42%;
    margin-right: 35%;
    text-align: center;
}

h1, h5{
    padding: 0px;
    margin: 0px;
}
.profile-content > h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 21px;
}

.profile-content > h5 {
    color: #F3BF99;
    padding-top: 7px;
    padding-bottom: 5px;
}

.profile-content > a {
    padding-top: 8px;
    color: white;
    font-size: 10px;
}

.display-photo{
    width: 317px;
    height: 317px;    
    margin-left: 42%;
    margin-top: 1%;
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
}


.connect-button{
    margin-top: 30px;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    margin-right: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.connect-button > i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#email{
    margin-left: 5%;
    background-color: white;
}

#linkedin{
    background-color: #5093E2;
    color: white;
}

.intro-headings{
    text-align: left;
    color: white;
    font-family: 'Inter', sans-serif;
}

.intro-text{
    text-align: justify;
    color: white;
    font-family: 'Inter', sans-serif;
}